:root {
  --bg-color: #f2f9fe;
  --bg-dark-color: #111729;
  --primary-color: #223344;
  --blue: #2a4dd0;
  --green: #4ca154;
  --smoke: #909193;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1185px;
  min-width: 375px;
  margin: 29px auto;
  padding: 0 24px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  color: var(--smoke);
  background-color: var(--bg-color);
}

a {
  color: var(--blue);
  font-weight: 700;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 2.8rem;
  line-height: 4rem;
  margin: 20px 0 38px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto;
  row-gap: 80px;
}

nav {
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.dark {
  background-color: var(--bg-dark-color);
}

.container-text {
  width: auto;
}

.container-text__title,
.container-text__slogan {
  color: var(--primary-color);
}

.container-text__slogan {
  font-weight: 700;
  text-transform: uppercase;
}

.container-text__slogan,
.container-text__checks {
  font-size: 0.875rem;
}

.container-text__description {
  line-height: 25px;
  margin-bottom: 25px;
  max-width: 500px;
}

.container-text__actions {
  margin-bottom: 40px;
  font-size: 1rem;
}

.container-text__actions__button {
  width: 180px;
  padding: 15px 34px;
  margin-right: 25px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 500;
  color: #fff;
  background-color: var(--blue);
}

.container-text__checks ul {
  display: flex;
  align-items: center;
}

.container-text__checks li {
  margin-left: 8px;
  margin-right: 20px;
}

.hero-image {
  order: -1;
  width: 70%;
  align-self: center;
}

.logo svg {
  width: 144px;
  height: 26px;
  fill: var(--primary-color);
}

.close {
  display: block;
  text-align: end;
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 56px;
  cursor: pointer;
}

.nav__ul {
  padding: 28px;
  background-color: #fff;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 424px;
  text-align: center;

  transform: translateX(424px);
  -webkit-transform: translateX(424px);
  -moz-transform: translateX(424px);
  -ms-transform: translateX(424px);
  -o-transform: translateX(424px);

  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -ms-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
}

.nav__li {
  font-size: 2rem;
  margin-bottom: 60px;
}

.nav__li a {
  font-weight: 700;
  text-decoration: none;
  color: var(--smoke);
}

a.active,
.nav__li a:hover {
  color: var(--primary-color);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  border: none;
  background-color: var(--bg-color);
}

.menu span {
  width: 24px;
  height: 3px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: var(--primary-color);
}

.mode {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: inherit;
  margin: 0 auto;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: var(--primary-color);
}

.mode img {
  width: 18px;
  height: 18px;
  filter: invert(100%) hue-rotate(90rad);
  -webkit-filter: invert(100%) hue-rotate(90rad);
}

.mode .mode--activate {
  width: 22px;
  height: 22px;
  background-color: var(--bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 0.8s ease-out;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -ms-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  filter: none;
  -webkit-filter: none;
}

/* Change colors for Dark mode */
.dark .mode,
.dark .nav__ul {
  background: var(--primary-color);
}
.dark .mode {
  background: var(--bg-dark-color);
}
.dark .container-text__slogan,
.dark .close {
  color: #fff;
}
.dark nav a.active,
.dark .container-text__title {
  color: var(--bg-color);
}
.dark path:nth-child(3),
.dark path:nth-child(4),
.dark path:nth-child(5),
.dark path:nth-child(6),
.dark path:nth-child(7),
.dark path:nth-child(8),
.dark path:nth-child(9) {
  fill: #fff;
}
.dark .menu {
  background: var(--bg-dark-color);
}
.dark .menu span {
  background: #fff;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 3.75rem;
    line-height: 5.5rem;
  }
  .container-text {
    width: 78%;
  }
}

@media screen and (min-width: 1050px) {
  main {
    flex-direction: row;
    align-items: center;
  }
  .container-text,
  .hero-image {
    width: 50%;
    height: 50%;
  }
  .hero-image {
    order: 1;
    align-self: end;
  }
  .container-text__title {
    margin-right: 110px;
  }
  .menu,
  .close {
    display: none;
  }
  .nav__ul {
    height: 26px;
    width: 65%;
    display: flex;
    padding: 0;
    background-color: transparent;
    min-height: fit-content;
    position: static;
    overflow: hidden;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .nav__li {
    font-size: 0.875rem;
    margin: 0;
  }
  .nav__li a {
    margin-right: 40px;
  }
  .mode {
    margin: 0 0 0 auto;
  }
  /* Change colors for Dark mode */
  .dark .nav__ul {
    background: transparent;
  }
  .dark .mode {
    background: var(--primary-color);
  }
}
